@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  height: 100vh;
  margin:0;
  background-color: var(--color-bg);
  font-family: 'Albert Sans', sans-serif;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* Flashlight Overlay */
:root {
  cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;

  --color-headings: white;
  --color-p: white;
  --color-bg: rgb(50, 5, 71);

  --section-size: 40vh;
}
:root:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background: radial-gradient(
    circle 15vmax at var(--cursorX) var(--cursorY),
    rgba(0 0 0 / 0) 0%,
    rgba(0 0 0 / .5) 60%,
    rgba(0 0 0 / .80) 80%,
    rgba(0 0 0) 100%
  );
  z-index: 1;
}



/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  margin: 0;
  color:var(--color-headings);
}

p {
  color:var(--color-p);
}

.ghosts img {
  max-width: 10vw;

  z-index: -1;

  animation: fly 4s linear infinite;
}

.ghosts img:first-of-type {
  position: absolute;
  top: 2em;
  right: 4em;
}

.ghosts img:nth-of-type(2) {
  position: absolute;
  bottom: 15em;
  right: 20em;
}

.ghosts img:nth-of-type(3) {
  position: absolute;
  bottom: 30em;
  left: 40em;
}

@keyframes fly {
  0.1% {
    transform: scale(1, 1);
  }
  50% {
    transform: translateX(-200%) scale(1, 1);
  }
  50.1% {
    transform: translateX(-200%) scale(-1, 1);
  }
  100% {
    transform: translateX(0%) scale(-1, 1);
  }
}



body > a img {
  max-width: 5vw;

  cursor: pointer;
  display: none;
  visibility: hidden;
}

body > a {
  height: 15vw;
  width: 15vw;

  position: absolute;
  cursor: none;
  
  display: grid;
  place-items: center;
  z-index: 4;
}

body > a:first-of-type {
  top: 5em;
  left: 10em;
}

body > a:nth-of-type(2) {
  bottom: 5em;
  left: 50em;
}

body > a:nth-of-type(3) {
  top: 5em;
  left: 60em;
}

body > a:nth-of-type(4) {
  top: 20em;
  left: 30em;
}

body > a:nth-of-type(5) {
  top: 35em;
  left: 0;
}

body > a:first-of-type img{
  display: block;
}

body > a:hover img {
  visibility: visible;
}

article {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--color-bg);

  display: none;

  z-index: 3;
}

article:first-of-type {
  -webkit-mask:
		radial-gradient(
			at 25% 25%,
			black,
			transparent 75%
		);
}

article:nth-of-type(2) {
  -webkit-mask:
		radial-gradient(
			at 75% 75%,
			black,
			transparent 75%
		);
}

article:nth-of-type(3) {
  -webkit-mask:
		radial-gradient(
			at 80% 35%,
			black,
			transparent 75%
		);
}

article:nth-of-type(4) {
  -webkit-mask:
		radial-gradient(
			at 50% 45%,
			black,
			transparent 75%
		);
}

article:nth-of-type(5) {
  -webkit-mask:
		radial-gradient(
			at 20% 80%,
			black,
			transparent 75%
		);
}

article section {
  height: var(--section-size);
  width: calc(var(--section-size)*0.9);

  display: flex;
  align-items: center;
  flex-direction: column;

  border: 0.2em solid white;

  position: relative;
}

article:first-of-type section {
  top: 5em;
  left: 20em;
}

article:nth-of-type(2) section {
  top: 30em;
  left: 60em;
}

article:nth-of-type(3) section {
  top: 5em;
  left: 70em;
}

article:nth-of-type(4) section {
  top: 15em;
  left: 40em;
}

article:nth-of-type(5) section {
  top: 30em;
  left: 10em;
}

article > section h1 {
  margin-top: 1em;
  width: 70%;

  font-weight: 900;
  text-transform: uppercase;
  font-size: 28px;
}

article section h2 {
  margin: 0.5em 0 0 0;
  width: 70%;

  font-weight: 900;
  font-size: 38px;
  color: rgb(248 40 16);
}

article section p {
  width: 70%;

  font-weight: 500;
  font-size: 14px;
}

article section img {
  width: 7vw;

  position: absolute;
  bottom: -1em;
  right: -1em;
}

article:nth-of-type(1) section img {
  width: 9vw;

  bottom: -2em;
  right: -2em;
}

article:nth-of-type(3) section img {
  width: 10vw;

  bottom: -2.5em;
  right: -2.5em;
}

article:nth-of-type(4) section img {
  width: 13vw;

  bottom: -3.5em;
  right: -3.5em;
}


/* ... */
