@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  height: 100vh;
  width: 100vw;
  margin:0;
  background-image: url("../images/cavebackground.png");
  background-size: cover;
  font-family: 'Albert Sans', sans-serif;
  overflow: hidden;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

/* Flashlight Overlay */
:root {
  cursor: none;
  --cursorX: 50vw;
  --cursorY: 50vh;

  --color-headings: white;
  --color-p: white;
  --color-bg: rgb(50, 5, 71);

  --font-size: 0.9vw;

  --section-size: 20vw;

  --section-one-top: 0;
  --section-one-left: 0;
  --section-two-top: 0;
  --section-two-left: 0;
  --section-three-top: 0;
  --section-three-left: 0;
  --section-four-top: 0;
  --section-four-left: 0;
  --section-five-top: 0;
  --section-five-left: 0;

  --section-one-placement: 0;
  --section-two-placement: 0;
  --section-three-placement: 0;
  --section-four-placement: 0;
  --section-five-placement: 0;

  --section-one-side: 0;
  --section-two-side: 0;
  --section-three-side: 0;
  --section-four-side: 0;
  --section-five-side: 0;

  --section-one-blur: 0;
  --section-two-blur: 0;
  --section-three-blur: 0;
  --section-four-blur: 0;
  --section-five-blur: 0;
}
:root:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  background: radial-gradient(
    circle 15vmax at var(--cursorX) var(--cursorY),
    rgba(0 0 0 / 0) 0%,
    rgba(0 0 0 / .5) 60%,
    rgba(0 0 0 / .80) 80%,
    rgba(0 0 0) 100%
  );
  z-index: 1;
}



/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  margin: 0;
  color:var(--color-headings);
}

p {
  color:var(--color-p);
}

.ghosts img {
  max-width: 10vw;

  z-index: -1;

  animation: fly 4s linear infinite;
}

.ghosts img:first-of-type {
  position: absolute;
  top: 20vh;
  right: 10vw;
}

.ghosts img:nth-of-type(2) {
  position: absolute;
  bottom: 15vh;
  right: 40vw;
}

.ghosts img:nth-of-type(3) {
  position: absolute;
  bottom: 40vh;
  left: 20vw;
}

@keyframes fly {
  0.1% {
    transform: scale(1, 1);
  }
  50% {
    transform: translateX(-200%) scale(1, 1);
  }
  50.1% {
    transform: translateX(-200%) scale(-1, 1);
  }
  100% {
    transform: translateX(0%) scale(-1, 1);
  }
}



body > a img {
  max-width: 5vw;

  cursor: pointer;
  display: none;
  visibility: hidden;
}

body > a {
  height: 15vw;
  width: 15vw;

  position: absolute;
  cursor: none;
  
  display: grid;
  place-items: center;
  z-index: 4;
}

body > a:first-of-type {
  top: var(--section-one-top);
  left: var(--section-one-left);
}

body > a:nth-of-type(2) {
  top: var(--section-two-top);
  left: var(--section-two-left);
}

body > a:nth-of-type(3) {
  top: var(--section-three-top);
  left: var(--section-three-left);
}

body > a:nth-of-type(4) {
  top: var(--section-four-top);
  left: var(--section-four-left);
}

body > a:nth-of-type(5) {
  top: var(--section-five-top);
  left: var(--section-five-left);
}

body > a:first-of-type img{
  display: block;
}

body > a:hover img {
  visibility: visible;
}

article {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  background-image: url("../images/cavebackground.png");
  background-size: cover;

  display: none;

  z-index: 3;
}

article:first-of-type {
  -webkit-mask:
		radial-gradient(
			at var(--section-one-blur),
			black,
			transparent 60%
		);
}

article:nth-of-type(2) {
  -webkit-mask:
		radial-gradient(
			at var(--section-two-blur),
			black,
			transparent 60%
		);
}

article:nth-of-type(3) {
  -webkit-mask:
		radial-gradient(
			at var(--section-three-blur),
			black,
			transparent 60%
		);
}

article:nth-of-type(4) {
  -webkit-mask:
		radial-gradient(
			at var(--section-four-blur),
			black,
			transparent 60%
		);
}

article:nth-of-type(5) {
  -webkit-mask:
		radial-gradient(
			at var(--section-five-blur),
			black,
			transparent 60%
		);
}

article section {
  height: calc(var(--section-size)*1.1);
  width: var(--section-size);

  display: flex;
  align-items: center;
  flex-direction: column;

  border: 0.2em solid white;
  box-shadow: 
  0 0 3em rgba(255, 255, 255, 0.4),
  inset 0 0 3em rgba(255, 255, 255, 0.4);

  position: relative;
}

article:first-of-type section {
  top: var(--section-one-placement);
  left: calc(var(--section-one-left) + var(--section-one-side));
}

article:nth-of-type(2) section {
  top: var(--section-two-placement);
  left: calc(var(--section-two-left) + var(--section-two-side));
}

article:nth-of-type(3) section {
  top: var(--section-three-placement);
  left: calc(var(--section-three-left) + var(--section-three-side));
}

article:nth-of-type(4) section {
  top: var(--section-four-placement);
  left: calc(var(--section-four-left) + var(--section-four-side));
}

article:nth-of-type(5) section {
  top: var(--section-five-placement);
  left: calc(var(--section-five-left) + var(--section-five-side));
}

article > section h1 {
  margin-top: 0.75em;
  width: 70%;

  font-weight: 900;
  text-transform: uppercase;
  font-size: calc(var(--font-size)*2);
}

article section h2 {
  margin: 0.25em 0 0 0;
  width: 70%;

  font-weight: 900;
  font-size: calc(var(--font-size)*2.75);
  color: rgb(248 40 16);
}

article section p {
  width: 70%;

  font-weight: 500;
  font-size: var(--font-size);
}

article section img {
  width: 5vw;

  position: absolute;
  bottom: -1em;
  right: -1em;
}

article:nth-of-type(1) section img {
  width: 7vw;

  bottom: -2em;
  right: -2em;
}

article:nth-of-type(3) section img {
  width: 8vw;

  bottom: -2.5em;
  right: -2.5em;
}

article:nth-of-type(4) section img {
  width: 11vw;

  bottom: -3.5em;
  right: -3.5em;
}

ul {
  height: 100%;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  list-style: none;
}

ul li {
margin-right: 1em;
margin-bottom: 0.5em;

z-index: 5;
}

ul li:nth-of-type(5) {
  margin-bottom: 0;
}

ul li button {
  height: 3.5vh;
  width: 3.5vh;

  border-radius: 100em;
  background-color: transparent;
  border: 0.15em solid white;

  color: white;
  font-family: 'Albert Sans',sans-serif;
  font-weight: 600;
  text-align: center;
}

ul li button:hover {
  background-color: white;
  color: var(--color-bg);
}

ul li button:disabled {
  opacity: 0.2;
  cursor: none;
}

ul li button:disabled:hover {
  background-color: transparent;
  color: white;
}



body > section {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: black;
  z-index: 10;

  position: absolute;
  top: 0;

  cursor: auto;
  pointer-events: all;
}

body > section img {
  margin-top: 10vh;
  max-width: 50vw;
  transform: translateX(0.5vw) scaleY(0);

  animation-name: RandomEyes, Eyes;
  animation-duration: 3s, 3s;
  animation-delay: 0s, 3.5s;
  animation-iteration-count: 1, infinite;

  transition: opacity 0.3s ease-in-out;
}

@keyframes RandomEyes {
  20% {
    transform: translate(-15vw, -5vh) rotate(20deg) scale(0);
  }
  20.1% {
    transform: translate(-15vw, -5vh) rotate(20deg) scale(0.25);
  }
  39.9% {
    transform: translate(-15vw, -5vh) rotate(20deg) scale(0.25);
  }
  40% {
    transform: translate(-15vw, -5vh) rotate(20deg) scale(0);
  }
  60% {
    transform: translate(20vw, 10vh) rotate(-30deg) scale(0);
  }
  60.1% {
    transform: translate(20vw, 10vh) rotate(-30deg) scale(0.4);
  }
  79.9% {
    transform: translate(20vw, 10vh) rotate(-30deg) scale(0.4);
  }
  80% {
    transform: translate(20vw, 10vh) rotate(-30deg) scale(0);
  }
}

@keyframes Eyes {
  10% {
    transform: translateX(0.5vw) scaleY(0);
  }
  11% {
    transform: translateX(0.5vw) scaleY(1);
  }
  17% {
    transform: translateX(0.5vw) scaleY(1);
  }
  18% {
    transform: translateX(0.5vw) scaleY(0);
  }
  28% {
    transform: translateX(0.5vw) scaleY(0);
  }
  29% {
    transform: translateX(0.5vw) scaleY(1);
  }
  95% {
    transform: translateX(0.5vw) scaleY(1);
  }
  96% {
    transform: translateX(0.5vw) scaleY(0);
  }
}

body > section img:hover {
  opacity: 0;
}

body > section button {
  height: 4vh;
  width: 10vw; 
  margin-top: -5vh;

  background-color: transparent;
  color: white;
  font-family: 'Albert Sans',sans-serif;
  font-weight: 800;
  text-align: center;

  border-radius: 100em;
  border: 0.15em solid white;
  opacity: 0;

  transition: transform 0.3s ease-in-out,
  background-color 0.3s ease-in-out,
  color 0.3s ease-in-out;

  animation: FadeIn 0.5s 4.5s ease-in-out forwards;
}

body > section button:hover {
  transform: scale(1.2);
  background-color: white;
  color: var(--color-bg);
}



.visible {
  visibility: visible;
  content: url("../images/torch-px.gif");
}

.show {
  display: block;
}

.show section{
  opacity: 0;

  animation-name: OpenSection;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-delay: 0.7s;
  animation-fill-mode: forwards;
}

.hide {
  display: none;
}

.fade {
  animation-name: FadeOut;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.active {
  background-color: white;
  color: var(--color-bg);
}


@keyframes OpenSection {
  0% {
    opacity: 0;
    transform: scale(1.6);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* ... */
